extends layout

block content
  h1= title
  div
    h2 Simple Express request/response playground:
    p Welcome to the #{title} test application 

    p status is #{status}
  
    div.inputbox
      form(name="submitAction", action="/submitAction", method="get")
        p Enter number of seconds to wait on backend:
        input(type="text", name="waitSeconds")
        p submit http request
        input(type="submit", value="submitAction")

  div
    H2 Other Playgrounds: 
    div
      p
      a(href="/mongoDB") MongoDB Playgound
    div
      p
      a(href="/consoleLoggingTest") Console Logging Playground
    div   
      p
      a(href="httpClientTest") HTTP Client Playground
    div   
      p
      a(href="/nonExistentView") Non-Existent View
